$bar-border-color: #e5e5e5;
$bar-background-color: #e5e5e5;

$bar-dark-background-color: #313644;
$bar-dark-border-color: #1b1e25;

$body-dark-background-color: #474f67;
$body-dark-background-color-alt: #F5F6F9;

$ticket-top-dark-background-color: rgb(119, 126, 148);

$light-gray: #D9DCE5;

// $body-background-color: rgba(245, 245, 245, 0.5);
$body-background-color: #fff;

$toaster-z-index: 9;

$neon-red-color: #E91E63;