@import './app';
@import './container';

$nav-btn-active-color: #2196f3;
$nav-item-width: 60px;

.app-view-nav {
    user-select: none;
    z-index: 1;

    &--horizontal {
        position: absolute;
        border-top: 1px solid $bar-border-color;
        bottom: 0;
        height: $app-container-navbar-height;
        width: 100%;
        background-color: #fff;
    }

    &__links {
        display: flex;
        height: 100%;
        justify-content: center;
    }

    &--alt {
        margin: 0 auto 15px;
        background-color: rgba(255,255,255,.95);
        border-radius: 4px;
        width: 180px;
        left: 50%;
        transform: translateX(-50%);
        border: 0;
        box-shadow: 0 1px 4px rgba(70,70,70,.23);
        height: 45px;

        svg {
            height: 70% !important;
        }

        .app-view-nav__item {  
            background-color: #fff;
                      
            &--active {
                fill: #333;
            }
        }
    }

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: $nav-item-width;
        border-radius: 4px;
        z-index: 2;
        overflow: hidden;
        transition: .25s ease transform;

        &__container {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            height: 100%;
            width: 180px;
            transition: .25s ease transform;
        }

        &__item {
            min-width: $nav-item-width;
            width: $nav-item-width;
            fill: #fff;
            display: inline-flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            bottom: 2px;
            right: 2px;
            z-index: -1;
            background-color: $purple;
            border-radius: 4px;
        }
    }    
}

@media (max-height: 400px) {
    .app-view-nav--horizontal {
        display: none;
    }
}

.app-view-nav__item {
    border-radius: 4px;
    z-index: 1;
    -webkit-tap-highlight-color: #000;
    -webkit-tap-highlight-color: transparent;


    &--horizontal {
        font-size: .8em;
        border-right: 2px;
        height: 100%;
        position: relative;
        z-index: 0;
        display: flex;
        overflow: hidden;
        flex: 1;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: space-around;
        margin: 0;
        text-align: center;
        text-decoration: none;
        background: 0 0;
        cursor: pointer;
        user-select: none;       

        svg {
            height: 45%;
        }
    }

    &--fab {
        position: absolute;
        left: 100%;
        top: 0;
        box-shadow: 0 1px 4px rgba(70,70,70,.23);
        background-color: #fff;
        border-radius: 4px;
        width: $nav-item-width;
        margin-left: 5px; 
    }

    // &--central {
    //     background-color: $body-dark-background-color;
    //     color: #fff;
    //     fill: #fff;
    //     // border-radius: 3px 3px 0 0;
    //     box-shadow: 0 1px 5px rgba(70,70,70,.75);
    //     height: $nav-item-width;
    // }
    &--central {
        background: transparent;
        color: $neon-red-color;
        fill: $neon-red-color;
        z-index: 1;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            bottom: 0;
            z-index: -1;
            // clip-path: url(#svgSearchPath);
            // background: red;
        }
    }
}


.app-view-nav__item--active {
    color: $nav-btn-active-color;
    background-color: rgba(71, 79, 103, 0.08);
    fill: $nav-btn-active-color;
}  




.app-view-nav--active-view-list .app-view-nav__slider {
    transform: translate3d(0, 0, 0);
}
.app-view-nav--active-view-map .app-view-nav__slider {
    transform: translate3d($nav-item-width, 0, 0);
}
.app-view-nav--active-view-search .app-view-nav__slider {
    transform: translate3d(#{$nav-item-width * 2}, 0, 0);
}
.app-view-nav--active-view-list .app-view-nav__slider__container {
    transform: translate3d(0, 0, 0);
}
.app-view-nav--active-view-map .app-view-nav__slider__container {
    transform: translate3d(-$nav-item-width, 0, 0);
}
.app-view-nav--active-view-search .app-view-nav__slider__container {
    transform: translate3d(-#{$nav-item-width * 2}, 0, 0);
}

@media (min-width: 375px) {
    .app-view-nav__item--fab {
        margin-left: 30px;
    }
}
@media (min-width: 412px) {
    .app-view-nav__item--fab {
        margin-left: 45px;
    }
}

@media (min-width: 1200px) {
    .app-view-nav {
        top: 5px;
        left: 15px;
        margin: 0;
        box-shadow: none;
        transform: none;
        z-index: 3;
    }
}
