.places-results {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 2;
    background-color: #fff;
    overflow-y: auto;
    max-height: 300px;
    box-shadow: 0 2px 6px rgba(70,70,70,.3);

    &__result {
        background-color: #fff;
        padding: 8px 10px;
        width: 100%;
        border: 0;
        text-align: left;
    }

    &__result:hover {
        background-color: #ddd;
    }

    &__result:focus {
        color: #fff !important;
        background-color: dodgerblue !important;
    }

    // &__result:focus,
    // &__result--selected {
    //     color: #fff !important;
    //     background-color: dodgerblue !important;
    // }
}
